@model SocialBook.Models.Profile

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Profile</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstMidName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstMidName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EnrollmentDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EnrollmentDate)
        </dd>

        
        <dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.Posts)
</dt>
<dd class="col-sm-10">
    <table class="table">
        <tr>
            <th>ImageName </th>
            <th>Status</th>
             <th>Content</th>
        </tr>
        @foreach (var item in Model.Posts)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ImageName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                 <td>
                    @Html.DisplayFor(modelItem => item.Content)
                </td>
            </tr>
        }
    </table>
</dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ProfileId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
