@model IEnumerable<SocialBook.Models.Profile>

@{
    ViewData["Title"] = "Index";
}




<p>
    @Html.ActionLink("Create New","Create")
    @using (Html.BeginForm())
    {
        <p>
            Title: @Html.TextBox("searchString")<br/>
            <input type="submit" value="Filter"/>
        </p>
    }
 </p>   


@*<div class="card-deck">
    @foreach (var profile in Model)
    {
        <div class="card m-3">
            <div class="card-header">
                <h3>@profile.FirstMidName</h3>
                <h3>@profile.LastName</h3>
            </div>
            <img class="card-img-top" src="~/images/profile-pic.jpg"/>
            <div class="card-footer text-center">
                <a asp-action="Edit" asp-route-id="@item.ProfileId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProfileId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProfileId">Delete</a>
            </div>
        </div>
    }
    
</div>*@
<div class="flex-container">
<table class="friends-box" >
    @foreach (var item in Model) {
   
    <div class="card m-3" flex-wrap:wrap>
        <div class="card-header" align="center" font-weight="bold">
           
            @Html.DisplayFor(modelItem => item.LastName)
            @Html.DisplayFor(modelItem => item.FirstMidName)
            
            </div>
        <img class="card-img-top" src="~/images/profilee.jpg"/>
        <div class="card-footer text-center">
            <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.ProfileId">Edit</a> |
            <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.ProfileId">Details</a> |
            <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.ProfileId">Delete</a>
        </div>
    </div>
    
}
</table>
</div>
